.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

#main-content {
  display: hidden;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: #333;
}

@font-face {
  font-family: "GeistRegular";
  src: url("assets/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FallbackFont";
  src: url("assets/fonts/") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GeistRegular", "FallbackFont", sans-serif;
}
